{% extends 'FamilyHealthAdminBundle::layout.html.twig' %}

{% block content %}

    {{ form_start(form, { 'attr': { 'class':'form-horizontal' } }) }}

    <div class="col-md-12">
    <div class="box box-default">
    <div class="box-header">
        <h2 class="box-title">Family Member Information</h2>
    </div>
    <div class="box-body">

        <div class="col-md-12">
            <div class="form-group">
                <label for="">{{ form_label(form.relation) }}</label>
                {{ form_widget(form.relation) }}
                {{ form_errors(form.relation) }}
            </div>
        </div>

        <div class="clearfix"></div>

    <div class="col-md-4">
        <div class="form-group">
            <label for="">Name</label>
            {{ form_widget(form.firstName) }}
            {{ form_errors(form.firstName) }}
        </div>
    </div>


    <div class="col-md-4">
        <div class="form-group">
            <label for="">&nbsp;</label>
            {{ form_widget(form.middleName) }}
            {{ form_errors(form.middleName) }}
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label for="">&nbsp;</label>
            {{ form_widget(form.lastName) }}
            {{ form_errors(form.lastName) }}
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-4">
        <div class="form-group">
            <label for="">{{ form_label(form.dob) }}</label>
            {{ form_widget(form.dob) }}
            {{ form_errors(form.dob) }}
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label for="">{{ form_label(form.gender) }}</label>
            {{ form_widget(form.gender) }}
            {{ form_errors(form.gender) }}
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label for="">{{ form_label(form.bloodGroup) }}</label>
            {{ form_widget(form.bloodGroup) }}
            {{ form_errors(form.bloodGroup) }}
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="">Permanent Address</label>
            {{ form_widget(form.permanentAddressDistrict) }}
            {{ form_errors(form.permanentAddressDistrict) }}
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="">&nbsp;</label>
            {{ form_widget(form.permanentAddressVDC) }}
            {{ form_errors(form.permanentAddressVDC) }}
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <label for="">&nbsp;</label>
            {{ form_widget(form.permanentAddressWard) }}
            {{ form_errors(form.permanentAddressWard) }}
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="">&nbsp;</label>
            {{ form_widget(form.permanentAddressTole) }}
            {{ form_errors(form.permanentAddressTole) }}
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="">&nbsp;</label>
            {{ form_widget(form.permanentAddressHouseNumber) }}
            {{ form_errors(form.permanentAddressHouseNumber) }}
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label for="">&nbsp;</label>
            {{ form_widget(form.permanentAddressPhone) }}
            {{ form_errors(form.permanentAddressPhone) }}
        </div>
    </div>

    <div class="clearfix"></div>


    <div class="col-md-6">
        <div class="form-group">
            <label for="">Contact</label>
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">&nbsp;</label>
            {{ form_widget(form.mobile) }}
            {{ form_errors(form.mobile) }}
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="col-md-10">
        <div class="form-group">
            <label for="">{{ form_label(form.file) }}</label>
            {{ form_widget(form.file) }}
            {{ form_errors(form.file) }}
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            {% if ( family.path is defined ) and ( family.path != '' ) %}
                <img src="{{ asset('uploads/members/' ~ family.path) }}" alt="" width="100"/>
            {% endif %}
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-12">
        {{ form_widget(form.add) }}
    </div>


    {{ form_widget(form) }}
    </div>
    </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
