{% extends 'FamilyHealthAdminBundle::layout.html.twig' %}


{% block content %}
    <div class="col-md-12">

        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">List</h3>
                <div class="box-tools pull-right">
                    <a href="{{ url('family_health_admin_institution_add') }}" class="btn btn-default"><i class="fa fa-plus"></i> &nbsp; Add Institution</a>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    {% if institutions|length %}

                        <table class="table">
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Contact</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th><i class="fa fa-cog"></i></th>
                            </tr>
                            {% for institute in institutions %}

                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ institute.name }}</td>
                                    <td>{{ institute.phone }}</td>
                                    <td>{{ institute.email }}</td>
                                    <td>{{ institute.address }}</td>
                                    <td>
                                        <a href="{{ url('family_health_admin_institution_edit',{'id':institute.id}) }}" title="view"><i class="fa fa-pencil"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <div class="alert alert-warning">
                            No Institutions to list
                        </div>
                    {% endif %}
                </div><!-- /.table-responsive -->
            </div><!-- /.box-body -->
        </div>
    </div>




{% endblock %}
