{% extends 'FamilyHealthFrontendBundle::layout.html.twig' %}

{% block content %}


    <section id="main-slider">
        <div class="owl-carousel">
            <div class="item" style="background-image: url({{ asset('bundles/familyhealthfrontend/images/slider/slider1.jpg') }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="carousel-content">
                                    <h2>We create healty families</h2>
                                    <a class="btn btn-danger btn-lg" href="#">
                                        <span>Know More</span>
                                        <span><img src="{{ asset('bundles/familyhealthfrontend/images/dottedarrow.png') }}" alt="arrow"/></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.item-->
            <div class="item" style="background-image: url({{ asset('bundles/familyhealthfrontend/images/slider/bg2.jpg') }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="carousel-content">
                                    <h2>We create healty families</h2>
                                    <a class="btn btn-danger btn-lg" href="#">
                                        <span>Know More</span>
                                        <span><img src="{{ asset('bundles/familyhealthfrontend/images/dottedarrow.png') }}" alt="arrow"/></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.item-->
            <div class="item" style="background-image: url({{ asset('bundles/familyhealthfrontend/images/slider/bg1.jpg') }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="carousel-content">
                                    <h2>We create healty families</h2>
                                    <a class="btn btn-danger btn-lg" href="#"><span>Know More</span> <span><img
                                                    src="{{ asset('bundles/familyhealthfrontend/images/dottedarrow.png') }}" alt="arrow"/></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.item-->
        </div>
        <!--/.owl-carousel-->
    </section>
    <!--/#main-slider-->

    <section id="cta" class="wow fadeIn">
        <div class="container">
            {#<h2>Welcome to Family health nepal</h2>#}
            <h2>Introduction</h2>

            <p>Family Health Nepal is a service oriented health organization that aims to provide the quality health care
                through scheduled health monitoring of the patient, providing assistance to them as per their need and
                coordinating with the patient as well as the family so as to maintain the optimum health status of the
                patient.</p>
            <p>Family Health Nepal focuses towards educating public about investment on personal health which results in
                reduction on out of pocket payment system which is widely accepted in our country. This organization
                provides quality of care by deducting all the medical dilemmas and malpractices that might occur while
                delivering health services</p>

        </div>
        <div class="benifit">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 wow fadeInLeft">
                        <div class="advantageFhn">
                            <h3>BENEFITS</h3>
                            <ul>
                                <li class="clearfix">
                                    <span><strong>i</strong></span>
                                    <span>Best treatment in the best hospital from best doctors.</span>
                                </li>
                                <li class="clearfix">
                                    <span><strong>ii</strong></span>
                                    <span>Time saving that reduces the burden of awaiting the date of appointment and availability of doctors.</span>
                                </li>
                                <li class="clearfix">
                                    <span><strong>iii</strong></span>
                                    <span>Reduction in out of pocket payment.</span>
                                </li>
                                <li class="clearfix">
                                    <span><strong>iv</strong></span>
                                    <span>Access to view ones medical record from anywhere at any time.</span>
                                </li>
                                <li class="clearfix">
                                    <span><strong>v</strong></span>
                                    <span>Free from burden of carrying tremendous past history record for proper diagnosis of disease.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="advantageFhn fhnGive">
                            <h3>What do you get from fhn</h3>
                            <ul>
                                <li>
                                    Fhn is a hub organization that holds many well established specialized as well as general hospitals that will make the health service easily accessible at an affordable cost.
                                </li>
                                <li>
                                    FHN provides health service package that provides preventive care of early diagnosis of disease and appropriate treatment
                                </li>
                                <li>
                                    FHN operates on cost sharing module that temps to lower the financial burden among general public.
                                </li>
                                <li>
                                    Home care services after discharge is provided till the patient is completely well.
                                </li>
                                <li>
                                    Patient empowerment on quality of healthcare they deserve.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#cta-->
    <section id="cta2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="tagLing">
                        <p class="text-left">we help your family live</p>

                        <p class="text-right">a healthy life</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="helpLine">
                        <p>24 hours hotline telephone service</p>

                        <p>977-980120380</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
    <div class="container">
    <div class="row">
    <div class="col-md-3">
        <div class="serviceIntro">
            <h2>Services</h2>

            <p>
                <strong>1.</strong>
                A 24 hours hotline telephone service to answer your routine or distress call.
            </p>
            <p>
                <strong>2.</strong>
                Make arrangement for you to see the best doctor of respective specialty and best hospital as to your requirement. (see list of Doctors & Hospitals)
            </p>
            <p>
                <strong>3.</strong>
                At the time of sickness we will periodically maintain communication with the treating doctor, hospital and see that best possible, ethical and financially correct service is being provided. It will pass that information to you via email or telephone.
            </p>
            <p>
                <strong>4.</strong>
                General health check-up including general lab test facilities tailored to your family members need twice a year.
            </p>
            <p>
                <strong>5.</strong>
                Visit to the top specialist of the country as per the needs twice a year.
            </p>
            {#<p>#}
            {#<strong>6.</strong>#}
            {#Once a year ultrasound, ECG, Echo, X-ray, eye & psychological checkup.#}
            {#</p>#}
            {#<p>#}
            {#<strong>7.</strong>#}
            {#Once enrolled in the program, you get a membership card which provides 15% discount on all hospital services (except pharmacy).#}
            {#</p>#}
            {#<p>#}
            {#<strong>8.</strong>#}
            {#Once enrolled in the program, you get a membership card which provides 15% discount on all hospital services (except pharmacy).#}
            {#</p>#}
            {#<p>#}
            {#<strong>9.</strong>#}
            {#Every month phone calls from FHN will be made to the respective members to ensure that their mental and physical health is good. Special care will be taken to their hygiene, food, sanitation and general wellbeing.#}
            {#</p>#}

            {#10. Reporting to you through emails on their health condition and when necessary make a conference call between you, your family and the treating doctor.#}

            {#11. Video conferences through Skype at times of serious health issue between you, your family members and their treating physician will be arranged so that collective & informed decision can be taken.#}

            {#12. Home visits of physicians, doctors, nurses on demand will be arranged.#}
        </div>
    </div>
    <div class="col-md-9">
        <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
            <div class="service-box">
                <a href="#" data-toggle="modal" data-target="#myModal">
                    <img src="{{ asset('bundles/familyhealthfrontend/images/service/service1.jpg') }}" alt="service" class="img-responsive"/>

                    <p><span>Jeevan Bardan surgical support program</span></p>
                </a>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true"><img src="{{ asset('bundles/familyhealthfrontend/images/close.png') }}" alt="close"/></span></button>
                        <img src="{{ asset('bundles/familyhealthfrontend/images/popupimg.jpg') }}" alt="img" class="img-responsive"/>

                        <h2>Jeevan Bardan surgical support program</h2>


                        <p>It is a self help health scheme under FHN that provides proper assistance to the members who require
                            surgical support without the financial burden to the patient. In this program Family Health Nepal
                            monitors their health status, provide proper guidance and assist them in their health related
                            issues while acting as a third party administrator. This scheme providing over 700 types of
                            surgeries to its members at a customize package price that could make one selves free from
                            staggering medical bills.</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
            <div class="service-box">
                <a href="#" data-toggle="modal" data-target="#myModal1">
                    <img src="{{ asset('bundles/familyhealthfrontend/images/service/service2.jpg') }}" alt="service" class="img-responsive"/>

                    <p><span>Health checkup program</span></p>
                </a>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true"><img src="{{ asset('bundles/familyhealthfrontend/images/close.png') }}" alt="close"/></span></button>
                        <img src="{{ asset('bundles/familyhealthfrontend/images/popupimg.jpg') }}" alt="img" class="img-responsive"/>

                        <h2>Health checkup program</h2>

                        <p>
                            It is a scheduled program that provides various health checkup schemes and awareness among general
                            public to take care of one’s health. It is based on the motto “a stitch in time saves nine”.</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
            <div class="service-box">
                <a href="#" data-toggle="modal" data-target="#myModal2">
                    <img src="{{ asset('bundles/familyhealthfrontend/images/service/service3.jpg') }}" alt="service" class="img-responsive"/>

                    <p><span>Hospital discount card</span></p>
                </a>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true"><img src="{{ asset('bundles/familyhealthfrontend/images/close.png') }}" alt="close"/></span></button>
                        <img src="{{ asset('bundles/familyhealthfrontend/images/popupimg.jpg') }}" alt="img" class="img-responsive"/>

                        <h2>Hospital discount card</h2>

                        <p>
                            It is the digital card provided to the members which enables them to have certain benefits with
                            discount in health services they acquire from our interlinked hospitals. </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
            <div class="service-box">
                <a href="#" data-toggle="modal" data-target="#myModal3">
                    <img src="{{ asset('bundles/familyhealthfrontend/images/service/service4.jpg') }}" alt="service" class="img-responsive"/>

                    <p><span>Family Health Care Program</span></p>
                </a>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true"><img src="{{ asset('bundles/familyhealthfrontend/images/close.png') }}" alt="close"/></span></button>
                        <img src="{{ asset('bundles/familyhealthfrontend/images/popupimg.jpg') }}" alt="img" class="img-responsive"/>

                        <h2>Family Health Care Program</h2>

                        <p>It is health monitoring, assistance and coordination program designed to assist family members of
                            those who are staying abroad. The program contacts your family member/s, supervises regular health
                            status check-up, monitor the conditions of the enrolled person, communicate with you and other
                            concerned relatives on their health status and also advise on the best treatment environment in
                            terms of doctor, hospital, procedure when needed, so that they get the best of your money value.</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
            <div class="service-box">
                <a href="#" data-toggle="modal" data-target="#myModal4">
                    <img src="{{ asset('bundles/familyhealthfrontend/images/service/service5.jpg') }}" alt="service" class="img-responsive"/>

                    <p><span>FHN – EHR(Electronic Health Record)</span></p>
                </a>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true"><img src="{{ asset('bundles/familyhealthfrontend/images/close.png') }}" alt="close"/></span></button>
                        <img src="{{ asset('bundles/familyhealthfrontend/images/popupimg.jpg') }}" alt="img" class="img-responsive"/>

                        <h2>FHN – EHR(Electronic Health Record)</h2>

                        <p>It is a digital version of patient’s paper chart which is a real time patient centered record
                            that makes information available instantly from anywhere at any time securely to the authorized
                            users through their smart phone. User may also have access to setup certain personal health
                            information and revise that as per need for self health management.</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
            <div class="service-box">
                <a href="#" data-toggle="modal" data-target="#myModal5">
                    <img src="{{ asset('bundles/familyhealthfrontend/images/service/service6.jpg') }}" alt="service" class="img-responsive"/>

                    <p><span>Home Care Services</span></p>
                </a>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true"><img src="{{ asset('bundles/familyhealthfrontend/images/close.png') }}" alt="close"/></span></button>
                        <img src="{{ asset('bundles/familyhealthfrontend/images/popupimg.jpg') }}" alt="img" class="img-responsive"/>

                        <h2>Home Care Services</h2>

                        <p>It is the care that allows a person with special needs stay in their home and acquire care they need.
                             It might be for people, who are getting older, are chronically ill, recovering from surgery, or
                            disabled. Home care services include</p>
                        <p>i. Nursing home care</p>
                        <p>ii. Physiotherapy home care</p>
                        <p>iii.	Acupuncture home care</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    <!--/.row-->
    </div>
    <!--/.container-->
    </section>

    <section id="contact">
        <div id="google-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.7337018826975!2d85.32150329999999!3d27.694624300000015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19afcd0561ef%3A0xd9a20b109024c48!2sFamily+Health+Nepal!5e0!3m2!1sen!2snp!4v1443003275269"
                    width="100%" height="650" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="container-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-7 mobileWidth">
                        <div class="contact-form">
                            <h3>Contact</h3>

                            <address>
                                <ul>
                                    <li>Maitighar 11, Kathmandu</li>
                                    <li><p>+977-980120380 <span>[Nepal]</span></p>

                                        <p>+61-0-415-785-500 <span>[Australia]</span></p></li>
                                    <li>
                                        info@familyhealthnepal.com
                                    </li>
                                </ul>
                            </address>
                            <h3> Feedback Form</h3>

                            <form id="main-contact-form" name="contact-form" method="post" action="#">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="Name" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subject" class="form-control" placeholder="Address" required>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" rows="5" placeholder="Message"
                                              required></textarea>
                                </div>
                                <div class="captchaSee">
                                    SLRTY
                                </div>
                                <input type="text" placeholder="Captcha" id="captchaValue" name="captcha"
                                       class="captchaPut">

                                <div class="captchaSend">
                                    <input type="submit" value="SUBMIT">
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#bottom-->



{% endblock content %}
