<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Family Health Nepal</title>
    <!-- core CSS -->
    <link href="{{ asset('bundles/familyhealthfrontend/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/familyhealthfrontend/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/familyhealthfrontend/css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/familyhealthfrontend/css/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/familyhealthfrontend/css/owl.transitions.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/familyhealthfrontend/css/prettyPhoto.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/familyhealthfrontend/css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/familyhealthfrontend/css/responsive.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/familyhealthfrontend/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bundles/familyhealthfrontend/js/respond.min.js') }}"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{{ asset('bundles/familyhealthfrontend/images/ico/favicon.ico') }}">
</head>
<!--/head-->

<body id="home" class="homepage">

<header id="header">
    <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
        <div class="container-fluid">
            <div class="navbar-brand" href="index.html">
                <img src="{{ asset('bundles/familyhealthfrontend/images/logo.png') }}" alt="logo" class="img-responsive">
            </div>

            <div class="medicalHistory">

                {% if app.user %}
                    <div class="userLoggedInfo">
                        <a href="{{ url('family_health_member_homepage') }}">
                        {% if app.user.member %}
                            <img src="{{ asset('uploads/members/'~ app.user.member.path) }}" alt="" width="30" height="30"/>
                        {% endif %}
                        {{ app.user.name }}
                        </a>
                        <br/>
                        <a href="{{ url('fos_user_security_logout') }}">Logout</a>

                    </div>

                {% else %}

                <span><strong>View</strong> Medical History</span>
                <a href="#" data-toggle="modal" data-target="#loginModal">
                    <span><img src="{{ asset('bundles/familyhealthfrontend/images/loginbtn.png') }}" alt="loginbtn" class="img-responsive"/></span>
                </a>

                <!-- Modal -->
                <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content loganModalContent">
                            <div class="modal-body">
                                <div class="loginmodal-container">
                                    <button type="button" class="close closeBtn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h1>Login to Your Account</h1><br>
                                    <div id="loginFormConent">
                                        {% render url('fos_user_security_login') %}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
            <nav class="responsive-nav">
                <div class="navicon">&#9776;<span>Menu</span></div>
                <ul>
                    <li><a href="{{ url('family_health_frontend_homepage') }}#main-slider">Home</a></li>
                    <li><a href="{{ url('family_health_frontend_homepage') }}#cta">About</a></li>
                    <li><a href="{{ url('family_health_frontend_homepage') }}#services">Service</a></li>
                    <li><a href="{{ url('family_health_frontend_homepage') }}#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <!--/.container-->

    </nav>
    <!--/nav-->
</header>
<!--/header-->

{% if ( app.session.flashbag.has('success') or (app.session.flashbag.has('error')) ) %}
<section class="flash-message">
    <div class="container">
        {% if app.session.flashbag.has('success') %}
            <div class="alert alert-success alert-dissmisible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% for successMessage in app.session.flashbag.get('success') %}
                    <p>{{ successMessage }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {% if app.session.flashbag.has('error') %}
            <div class="alert alert-warning alert-dissmisible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% for errorMessage in app.session.flashbag.get('error') %}
                    <p>{{ errorMessage }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
{% endif %}

{% block content %}{% endblock content %}


<div class="clearfix"></div>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2015 familyhealthnepal.com &nbsp;&nbsp;&nbsp;Designed by <a target="_blank" href="http://yarshastudio.com">Yarsha
                    Studio</a>
            </div>
            <div class="col-sm-6">
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>

                </ul>
            </div>
        </div>
    </div>
</footer>
<!--/#footer-->

<script src="{{ asset('bundles/familyhealthfrontend/js/jquery.js') }}"></script>
<script src="{{ asset('bundles/familyhealthfrontend/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/familyhealthfrontend/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('bundles/familyhealthfrontend/js/mousescroll.js') }}"></script>
<script src="{{ asset('bundles/familyhealthfrontend/js/smoothscroll.js') }}"></script>
<script src="{{ asset('bundles/familyhealthfrontend/js/wow.min.js') }}"></script>
<script src="{{ asset('bundles/familyhealthfrontend/js/main.js') }}"></script>

<script>
    $(document).ready(function(){

        $(document).on( 'click', '#_submit', function(e){
            e.preventDefault();
            var form = $('#loginFormFOS');
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function (data, status, object) {
                    if(data  && data.success === true ){
                        window.location  = data.redirectUrl;
                    }else{
                        $('.modal-body').find('#loginFormConent').html(data);
                    }

                }
            });
        });
    });
</script>

</body>
</html>