{% extends 'FamilyHealthFrontendBundle::layout.html.twig' %}

{% block content %}

    <section class="frontend-container">
        <div class="container">

            <h2>{{ member.name }}</h2>
            {#[ {{ member.memberId  }} ]#}

            <div class="col-md-12">
                <div class="col-md-3 img-responsive">
                    <img src="{{ asset('uploads/members/') }}{{ member.path }}" alt="{{ member.name }}"/>
                    <p class="premiumStatus">
                        {{ premium_admin_status(member.isPremiumMember, member.premiumExpiryDate)|raw }}
                    </p>

                    {#{% if member.isPremiumMember %}#}
                        {#Premium Member - <cite>expires at : {{ member.premiumExpiryDate|date('F j, Y') }}</cite>#}
                    {#{% else %}#}
                        {#Non premium member#}
                    {#{% endif %}#}
                </div>

                <div class="col-md-6">
                    <ul>
                        <li>{{ member.memberId }}</li>
                        <li>{{ member.name }}</li>
                        <li>{{ member.gender }} {{ member.memberAge }} years</li>
                        <li>joined at {{ member.joinedDate|date('F , Y') }}</li>
                        <li>{{ member.email }}</li>
                        <li>{{ member.mobile }}</li>
                        <li>{{ member.permanentAddress }}</li>
                        <li>{{ member.temporaryAddress }}</li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <div class="col-md-12 form-group">
                        <label>Username: </label>
                        <p class="form-control">{{ user.username }}</p>
                    </div>
                    <div class="col-md-12 form-group">
                        <label>Password: </label>
                        <p class="form-control">
                            ********
                        </p>
                        <a href="{{ url('fos_user_change_password') }}"><i class="fa fa-pencil"></i> Change Password</a>
                    </div>

                </div>
            </div>

            <div class="clearfix"></div>


            <fieldset>
                <legend>Family Members</legend>
                {% if member.relations|length %}
                    {% for relation in member.relations %}
                        {{ loop.index }}#  {{ relation.name }}  {{ relation.relation }}  {{ relation.age }}
                    {% endfor %}
                {% else %}
                    no relations added
                {% endif %}
            </fieldset>
        </div>
    </section>






{% endblock content %}